body {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5%;
}

.container {
    flex: 1;
}

div {
    border: 5px black solid;
    height: 300px;
}

.intro {
    background-image: url("images/pixarLamp.gif");
    height: 300px;
    background-repeat: no-repeat;
}

.listImage {
    float: right;
    width: 300px;
    height: auto;
}

.card {
    flex-wrap: nowrap;
}