<!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>
    <link rel="stylesheet" href="../style/boardStyle.css"></link>
    </head>
    <body>
        <!-- header -->
        <section id="player-section">
            <h3 id="message-display">Players:</h3>
            <ul id="players">
            </ul>
            <button id="start-button">I'm ready!</button>
            <button id="end-turn-button">End Turn</button>
        </section>

        <!-- board body -->
        <section id="board">
            <!-- creating 100 divs -->
            
        </section>

        <!-- monster selection popup -->
        <div id="piece-selector">
            <p>Select your monster:</p>
            <button data-piece="werewolf">Werewolf</button>
            <button data-piece="vampire">Vampire</button>
            <button data-piece="ghost">Ghost</button>
        </div>
    </body>
    <script src="../script/board.js"></script>
</html>