<!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>
    <link rel="stylesheet" href="../style/boardStyle.css"></link>
    </head>
    <body>

        <section>
            <!-- creating 100 divs -->
            <% for( let index = 0; index < 100; index++ ) { %>
                <div></div>
            <% } %>
        </section>
    
    </body>
</html>