<!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>
    <link rel="stylesheet" href="../style/boardStyle.css"></link>
    </head>
    <body>
        <!-- header -->
        <section>
            <h3>Players:</h3>
            <ul id="players">
            </ul>
            <button>Start Game</button>
        </section>

        <!-- board body -->
        <section id="board">
            <!-- creating 100 divs -->
            <% for( let index = 0; index < 100; index++ ) { %>
                <div></div>
            <% } %>
        </section>

        <!-- stats -->
        <section>

        </section>
    
    </body>
    <script src="../script/board.js"></script>
</html>