<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/style/credentialStyle.css"></link>
</head>

<body>
    <form class="forms" action="/login" method="post">
        <h2>Login Credentials</h2>
        <!-- username field -->
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">
        <!-- password field -->
        <label for="password">Password: </label>
        <input type="password" name="password" id="password">
        <!-- submit button -->
        <button type="submit" id="submit">Submit</button>

    </form>
</body>
</html>